<!DOCTYPE html>
<html>
  <head>
    <title>Employee Search</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel ="icon" type="image/png" href="{{url_for('static', filename='favicon-cash.png')}}">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <style>
	tr{
		background-color:white;
	}
    th{ 
        color:#fff;
            }
			body {
	  background-color: #F7F6BB
	}

</style>
  </head>

  <body>
       
</style>

  <center><a href="/dashboard" style="font-style:bold" class="tm-white-text">HOME</a></center>
  <center><h2>Employee Search</h2></center>
  <center><input type="text" id="number" name="number" placeholder="Enter employee ID..."/><br/> <br><input type="button" value="Search" onclick="getemp()"/>     </center><br>
<table class="table table-striped">
    <tr  class="bg-info">
	    <th>Employee ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
		<th>Phone</th>

    </tr>

    <tbody id="employee_table">
        
    </tbody>
</table>
        
    </div>
    </div>
     
  </body>
  
</html>
<script>


function getemp(){  
	var idd=document.getElementById("number").value; 
	var urll =  "https://insiteplus.herokuapp.com/emp/"+idd;
	console.log(urll)
	  $.getJSON(urll, function(data){
	  console.log(data)
		var employee_data = '';
		  employee_data += '<tr>';
		  employee_data += '<td>'+data.id+'</td>';
		  employee_data += '<td>'+data.name+'</td>';
		  employee_data += '<td>'+data.address+'</td>';
		  employee_data += '<td>'+data.email+'</td>';
		  employee_data += '<td>'+data.phone+'</td>';
		  employee_data += '<tr>';
		$('#employee_table').append(employee_data);
	  });
	  

}

</script>